<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog CJ</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="blog content">
      <h1>Error</h1>
      <h2>Requested Page Not Found.</h2>
    </div>
  </body>
</html>
