<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>
    <div class="blog content">
      <h1>Error</h1>
      <h2>Requested Page Not Found.</h2>
    </div>
    <%- include("./partials/footer") %>
  </body>
</html>
