<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>
    <div class="blog content">
      <h2>About CJ Blogs</h2>
    </div>
    <%- include("./partials/footer") %>
  </body>
</html>
